*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
nav{
background-color: hsla(0, 89%, 17%, 0.841);


}

ul li {
    list-style: none;
    padding:10px;
    gap: 5px;
}
ul li:hover{
    background-color: white;
    border-radius: 10px;
    
}
ul li a:hover{
    background-color: white;
    color: black;
}
ul li a {
    color: white;
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: end;
}
nav h1{
    float: left;
    color: rgb(242, 239, 239);

}
div{
   
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    width: 50%;
    border-radius: 30px;
    margin:40px;
    /* box-shadow: 2px 2px 8px rgb(7, 7, 7); */
    font-style: italic;
    /* background-color: hsla(0, 89%, 17%, 0.841); */
    font-size: 2em;
    margin-top: 50px;
}

button{
    border-radius:18px;
    padding:7px;
    background-color: rgb(92, 44, 44);
    color: white;
    font-size: 0.8em;

}
span :hover{
background-color:  rgb(166, 104, 3);
transition: 0.4s;
}

h2 {
   color: aliceblue;
   /* text-shadow: 3px 3px 9px ghostwhite; */
}
h2:hover{
   color: aliceblue;
   text-shadow: 3px 3px 9px rgb(238, 238, 244);
   transition: 0.5s;
}
body{
    background-color: hsla(0, 89%, 17%, 0.841);
}

div h1{
    /* text-shadow: 3px 3px 9px rgb(240, 240, 245); */
    color: rgb(4, 5, 5);
}
div .buy{
    display:flex;
    text-align: center;
    justify-content: center;
   margin-left: 25%;
   height: 100px;
   box-shadow: none;
}
main {
  
     display:flex;
    text-align: center;
    justify-content: center;
    
    gap:5%;

}
.about{
    background-color: white;
    height: auto;
    width: 100%;
    border: 2px solid black;
    border-radius: 0%;

}
section{
   display: flex;
   margin: 0%;
   padding: 0%;

}
.about img{
    width: 30%;
    height: auto;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    
}
 #descrip{
    color: whitesmoke;
    
}
#wel{
    color: white;
    
}
#wel:hover{
    text-shadow: 3px 3px 9px rgb(209, 205, 205);
    transition: 0.5s;
}
.icon{
    /* border: 2px solid black; */
    display:flex;
    flex-direction: row;
    height: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;

}
.menu{
    background-color: black;
    display: flex;
  
  
}
/* .menu2{
    text-align: center;
    border: 2px solid white;
    width: 100%;
    height: auto;
    border-radius: 0%;
    
   display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

   
    

   

}
.menu h1{
    color: white;
}
.variety{
    border: 2px solid white;
    height: 300px;
    width: 300px;
    /* margin: 0%;
    padding: 0%; 

   
    

    
    
   
} */
 /* .menu h1{
  margin-left: auto;
  margin-right: auto;
 } */
 .menu-container {
        height: 100%;
    width:100%;
        /* display: flex; */
     /* padding: auto; */
     /* margin: 20px; */
   padding: 20px;
    text-align: left;
    justify-content: center;
   
 }

.food-box {
     background-color: rgb(38, 117, 186);
    height: 300px;
    width: 300px;
    display:inline-flex;
    margin: 20px;

 
}
.food-box img {
  width: auto;
  height: auto;
}
.menu{
    
}

